adp_dev
jinja2
weasyprint
pandas==0.24.2
numpy==1.16.4
matplotlib==3.1.0
backtrader==1.9.70.122
pandas_datareader==0.7.0
scipy==1.5.0
riskparityportfolio
pyfolio
pybloqs
jinja2>=2.11.2
weasyprint>=51
scipy>=1.5.0
pandas>=1.0.5
numpy>=1.19.0
matplotlib>=3.2.2
backtrader>=1.9.75.123
riskparityportfolio>=0.2
pyfolio>=0.9.2+73.gcfdf82a
pybloqs>=1.2.7
empyrical>=0.5.3
statsmodels>=0.12.1
yfinance>=0.1.54
streamlit>=0.82.0
plotly>=4.14.3