<!DOCTYPE html>
<html>
<head>
<style>
body {font-size: 70%;}

table {
    table-layout: auto;
    width: 600px;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 5px;
}

th, td {
    text-align: left;
    padding: 1px;
}

tr {
    background-color: #e6ffff;
    color: 'black';
}

th {
    background-color: #003366;
    color:  #ffffff;
}

</style>

</style>
</head>

<body>

<!-- ----------------------- header block ------------------- -->

<h2><center>Backtesting Report</center></h2>

<div class="pybloqs">
   <table border="0" cellpadding="1" cellspacing="0" class="" id="blox_table_id" style="margin-right:auto">
    <thead style="">
     <tr style="">
      <th style="background-color:rgb(0,0,0)"> </th>
      <th style="background-color:rgb(0,0,0)"> Strategy parameters</th>
     </tr>
    </thead>
    <tbody>
     <tr style="">
      <td style="background-color:rgb(255,255,255)"> name </td>
      <td style="background-color:rgb(255,255,255)"> {{strategy_names}} </td>
     </tr>
     {% for k, v in params.items() %}
    <tr style="">
      <td style="background-color:rgb(255,255,255)"> {{k}} </td>
      <td style="background-color:rgb(255,255,255)"> {{v}} </td>
     </tr>
     {% endfor %}
</tbody>
</table>
</div>

<div class="pybloqs">
   <table border="0" cellpadding="1" cellspacing="0" class="" id="blox_table_id" style="margin-right:auto">
    <thead style="">
     <tr style="">
      <th style="background-color:rgb(0,0,0)"> </th>
      <th style="background-color:rgb(0,0,0)"> Report parameters</th>
     </tr>
    </thead>
    <tbody>
     {% for k, v in report_params.items() %}
    <tr style="">
      <td style="background-color:rgb(255,255,255)"> {{k}} </td>
      <td style="background-color:rgb(255,255,255)"> {{v}} </td>
     </tr>
     {% endfor %}
</tbody>
</table>
</div>


<div class="pybloqs">
   <table border="0" cellpadding="1" cellspacing="0" class="" id="blox_table_id" style="margin-right:auto">
    <thead style="">
         <tr style="">
      <th style="background-color:rgb(0,0,0)"> </th>
      <th style="background-color:rgb(0,0,0)"> Leverage & Backtest period </th>
     </tr>
    </thead>
<tbody>
     <tr style="">
      <td style="background-color:rgb(255,255,255)"> leverage  </td>
      <td style="background-color:rgb(255,255,255)"> {{leverage}} </td>
     </tr>
     <tr style="">
      <td style="background-color:rgb(255,255,255)"> start  </td>
      <td style="background-color:rgb(255,255,255)"> {{start_date}} </td>
     </tr>
     <tr style="">
      <td style="background-color:rgb(255,255,255)"> end  </td>
      <td style="background-color:rgb(255,255,255)"> {{end_date}} </td>
     </tr>
</tbody>
</table>
</div>

<div class="pybloqs">
   <table border="0" cellpadding="1" cellspacing="0" class="" id="blox_table_id" style="margin-right:auto">
    <thead style="">
         <tr style="">
      <th style="background-color:rgb(0,0,0)"> </th>
      <th style="background-color:rgb(0,0,0)"> Report Information </th>
     </tr>
    </thead>
    <tbody>
     <tr style="">
      <td style="background-color:rgb(255,255,255)"> generated by  </td>
      <td style="background-color:rgb(255,255,255)"> {{name_user}} </td>
     </tr>
     <tr style="">
      <td style="background-color:rgb(255,255,255)"> timestamp </td>
      <td style="background-color:rgb(255,255,255)"> {{processing_date}} </td>
     </tr>
      <tr style="">
      <td style="background-color:rgb(255,255,255)"> memo </td>
      <td style="background-color:rgb(255,255,255)"> {{memo_field}} </td>
     </tr>
</tbody>
</table>
</div>

<!-- -------------------- equity curve --------------- -->

<p>
<img src= "{{url_equity_curve}}" alt="Equity Curve" style="width:650px;height:500px;" class=center>
</p>

<br>
<br>
<br>
<br>
<!-- -------------------- equity drawdown --------------- -->

<p>
<img src= "{{url_eq_dd_curve}}" alt="Equity Drawdown" style="width:650px;height:500px;" class=center>
</p>

<br>
<br>
<br>
<br>
<!-- -------------------- assets prices --------------- -->

<p>
<img src= "{{url_assetprices}}" alt="Asset Prices" style="width:650px;height:500px;" class=center>
</p>

<br>
<br>
<br>
<br>
<!-- -------------------- Assets drawdown --------------- -->

<p>
<img src= "{{url_assets_dd_curve}}" alt="Assets Drawdown" style="width:650px;height:500px;" class=center>
</p>

<!-- ------------------- performance statistics ----------------------------- -->
<br>
<br>
<br>
<br>

<!-- Performance table -->
<section>

    <h2><left>Performance metrics</left></h2>

    <ul>
     The performance metrics are either gross of contributions (i.e. fund-like) or net of contributions
     (i.e. asset like) depending on the value of the flag <b> fundmode</b>. You can check the value of this flag
     in the section "Report parameters".
    </ul>

    <!-- Weights table -->
    {{ performance_table | safe }}

</section>

<!-- weights table -->

<section>

    <h2><left>Target weights</left></h2>

    <!-- Weights table -->
    {{ targetweights_table | safe }}

</section>

<!-- weights table -->

<section>

    <h2><left>Effective weights</left></h2>

    <!-- Weights table -->
    {{ effectiveweights_table | safe }}

</section>


</font>
</body>
</html>
