<!DOCTYPE html>
<html>
<head>
<style>
body {font-size: 70%;}

table {
    table-layout: auto;
    width: 600px;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 5px;
}

th, td {
    text-align: left;
    padding: 1px;
}

tr {
    background-color: #e6ffff;
    color: 'black';
}

th {
    background-color: #003366;
    color:  #ffffff;
}

</style>

</style>
</head>

<body>

<!-- ----------------------- header block ------------------- -->

<h2><center>Multiple Strategies Report</center></h2>

<div class="pybloqs">
   <table border="0" cellpadding="1" cellspacing="0" class="" id="blox_table_id" style="margin-right:auto">
    <thead style="">
     <tr style="">
      <th style="background-color:rgb(0,0,0)"> </th>
      <th style="background-color:rgb(0,0,0)"> Strategy </th>
     </tr>
    </thead>
    <tbody>
     <tr style="">
      <td style="background-color:rgb(255,255,255)"> name </td>
      <td style="background-color:rgb(255,255,255)"> {{strategy_names}} </td>
     </tr>
</tbody>
</table>
</div>


<div class="pybloqs">
   <table border="0" cellpadding="1" cellspacing="0" class="" id="blox_table_id" style="margin-right:auto">
    <thead style="">
         <tr style="">
      <th style="background-color:rgb(0,0,0)"> </th>
      <th style="background-color:rgb(0,0,0)"> Datafeed </th>
     </tr>
    </thead>
<tbody>
     <tr style="">
      <td style="background-color:rgb(255,255,255)"> start  </td>
      <td style="background-color:rgb(255,255,255)"> {{start_date}} </td>
     </tr>
     <tr style="">
      <td style="background-color:rgb(255,255,255)"> end  </td>
      <td style="background-color:rgb(255,255,255)"> {{end_date}} </td>
     </tr>
</tbody>
</table>
</div>

<div class="pybloqs">
   <table border="0" cellpadding="1" cellspacing="0" class="" id="blox_table_id" style="margin-right:auto">
    <thead style="">
         <tr style="">
      <th style="background-color:rgb(0,0,0)"> </th>
      <th style="background-color:rgb(0,0,0)"> User </th>
     </tr>
    </thead>
    <tbody>
     <tr style="">
      <td style="background-color:rgb(255,255,255)"> name  </td>
      <td style="background-color:rgb(255,255,255)"> {{name_user}} </td>
     </tr>
     <tr style="">
      <td style="background-color:rgb(255,255,255)"> test at </td>
      <td style="background-color:rgb(255,255,255)"> {{processing_date}} </td>
     </tr>
      <tr style="">
      <td style="background-color:rgb(255,255,255)"> memo </td>
      <td style="background-color:rgb(255,255,255)"> {{memo_field}} </td>
     </tr>
</tbody>
</table>
</div>

<!-- -------------------- equity & return curve --------------- -->

<p>
<img src= "{{url_equity_curve_multistrat}}" alt="Equity Curve" style="width:650px;height:500px;" class=center>
</p>

<!--
<p>
<img src= "{{url_return_curve }}" alt="Return Curve" style="width:650px;height:500px;" class=center>
</p> -->


<!-- ------------------- performance statistics ----------------------------- -->
<br>
<br>
<br>
<br>

<!-- Performance table -->
<section>

    <h2><left>Performance</left></h2>

    <!-- Weights table -->
    {{ performance_table | safe }}

</section>

<h2>Notes on the performance metrics</h2>

<ul>
  <li>The pyfolio metrics are to be interpreted as net of contributions (not fund-like)</li>
</ul>

<!-- weights table -->

<section>

    <h2><left>Target weights</left></h2>

    <!-- Weights table -->
    {{ targetweights_table | safe }}

</section>

<!-- weights table -->

<section>

    <h2><left>Effective weights</left></h2>

    <!-- Weights table -->
    {{ effectiveweights_table | safe }}

</section>


</font>
</body>
</html>
